version: "3.6"

services:
  app:
    image: cornellappdev/resell-dev:${IMAGE_TAG}
    volumes:
      - ./serviceAccountKey.json:/app/serviceAccountKey.json:ro
    env_file: .env
    ports:
      - "3000:3000"
